<div class="row">
  <div>
    <h3><%= @post.name %></h3>
  </div>
  <div>
    <p><%= @post.content %></p>
  </div>
</div>

<div class="row">
  <%= form_for @comment, :as => :comment, :url => forum_post_comments_path(@post.forum, @post) do |f| %>
  	<div class="row">
  		<div class="col-md-4">
				<%= f.text_area :body, style: 'width:100%;'%>
  		</div>
  		<div class="col-md-2">
				<%=f.submit "Add" %>
  		</div>
  	</div>
		
	<% end %>
</div>
Comments:<br/>
<table class="table">
	<% @comments.each do |comment| %>
		<tr id="comment_#{comment.id}" >
			<td>
				<h5><%= comment.body%></h5><span><h6><%=comment.updated_at%></h6></span>
			</td>
			<% if can? :update, comment %>
				<td><%= link_to "Edit", edit_forum_post_comment_path(@post.forum,@post,comment) %></td>
				<td><%= link_to "Delete", forum_post_comment_path(@post.forum,@post,comment), data: { confirm: 'Are you sure?' }, :method => :delete %></td> 
			<% end %>
		</tr>
	<% end %>
</table>
